@import url('https://fonts.googleapis.com/css?family=Cantarell|Fjalla+One');

body{
  font-size: 16px;
  font-family: "Cantarell",sans-serif;
  color:black;
  background: url("norwegian_rose.png");
}
h1{
  font-family: "Fjalla One",sans-serif;;
  font-size: 60px;
  text-align: center;
  margin:0;
}

nav{
  text-align: center;
  background-color:rgba(169,169,169,.6);
  width: 50%auto;;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.30);
}

nav ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 16px;
  align-items: center;
}

nav a {
  display: inline-block;
  padding: 4px 8px;
  color: white;
}
nav a:hover{
  color: 	#FF69B4;
}

a:visited{
  color: #3CB371;
}

a{
  color: black;
}
a:hover{
  color:#FF69B4;
}

h2{
  font-family: "Fjalla One",sans-serif;;
  font-size: 30px;
  margin:0;
  border-bottom: 2px solid black;
}

#experience h3{
  border-bottom: 1px solid black;
}


#container {
  max-width: 960px;
  min-width: 320;
  margin: 5em auto;
  overflow: auto;
  padding: 30px;
}

#left-col{
  max-width: 420px;
}

#right-col {
  max-width: 420px;
}

#left-col {
  float: left;
  margin-right: 60px;
}

#right-col {
  float: right;
}

#umtv li{
  padding-bottom: 20px;
}
